button{
    margin: 5px;
}
.padrao{
    height: 50px; 
    width: 150px; 
    background-color: aqua
}

.class-button-one{
    height: 50px; 
    width: 150px; 
    background-color: violet
}

.class-button-two{
    border: 3px solid red;
}