@import "../../../src/styles/variables.scss";

.area-plano{
    height: 100px;
    width: 200px;
    border-radius: 10%;
    background-color: blue;
    text-align: center;
}

.style-css{
    height: 100px;
    width: 200px;
    border-radius: 10%;
    background-color: $colorTeste;
}

::ng-deep app-styles-ng-deep .style-ng-deep{
    width: 100px;
    height: 100px;
    background-color: chocolate;
}