<div class="area-plano">
    <p>{{informacoesCard?.texto}}</p>
    <p>{{informacoesCard?.preco}}/Mensal</p>
    <app-card-button></app-card-button>
</div>

<!-- Usando css do component card-button -->
<div>
    <h1>Usando css do component card-button</h1><br>
    <div class="card-button"></div>
</div>

<!-- Usando css do style css(Global) -->
<div>
    <h1>Usando css do style css(Global)</h1><br>
    <div class="style-css"></div>
</div>

<!-- Usando css com ::ng-deep-->
<app-styles-ng-deep></app-styles-ng-deep>

<!-- Usando css com ::ng-host-->
<app-styles-ng-host></app-styles-ng-host>
