.button{
    height: 25px;
    width: 80%;
    padding: 3px;
    background-color: bisque;
    border-radius: 12%;
}

.card-button{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 25%;
}