.button-green{
    height: 10%;
    width: 100%;
    padding: 3px;
    background-color: greenyellow;
    border-radius: 12%;
    color: white;
    
}

.button-default{
    height: 10%;
    width: 100%;
    padding: 3px;
    background-color: bisque;
    border-radius: 12%;
    color: white;
}

.button-purple{
    height: 10%;
    width: 100%;
    padding: 3px;
    background-color: purple;
    border-radius: 12%;
    color: white;
}